* {
    overflow: hidden;
    background-color: #3F377C;
}

.plus {
    position: absolute;
    right: 235px;
    top : 96px;
    /* -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite; */
}

/* @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
} */

.text1 {
    position: absolute;
    top : 105px;
    right: 370px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrow1 {
    position: absolute;
    top : 118px;
    right: 330px; 
    animation-name: moving_arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.delete {
    position: absolute;
    right: 235px;
    top : 180px;
}

.text2 {
    position: absolute;
    top : 192px;
    right: 370px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrow2 {
    position: absolute;
    top : 205px;
    right: 330px; 
    animation-name: moving_arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


.details {
    position: absolute;
    right: 235px;
    top : 260px;
}

.text3 {
    position: absolute;
    top : 270px;
    right: 370px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrow3 {
    position: absolute;
    top : 280px;
    right: 330px; 
    animation-name: moving_arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes moving_arrow {
0%   {right: 334px;}
25%  {right: 332px;}
50%  {right: 330px;}
75%  {right: 328px;}
100% {right: 326px;}
}


a:hover {
    color: white;
}